In [5]:
import numpy as np
import pandas as pd
import geopandas as gpd
import scipy
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("../data/Canada_Gravity_2018.csv", comment='/')

In [8]:
df.columns

Index(['X', 'Y', 'ADJG', 'B_ERR', 'BOUGUER', 'COORD_ERR', 'DAY', 'DEPTH',
       'DEPTH_ERR', 'DEPTH_TYPE', 'ELEV', 'ELEV_ERR', 'FA_ERR', 'FREEAIR',
       'G_ERR', 'PROJ', 'STATUS', 'STN', 'STN_TYPE', 'TC', 'TC_ERR', 'TIME',
       ' dummy'],
      dtype='object')

In [3]:
df.head(3)

,X,Y,ADJG,B_ERR,BOUGUER,COORD_ERR,DAY,DEPTH,DEPTH_ERR,DEPTH_TYPE,...,FA_ERR,FREEAIR,G_ERR,PROJ,STATUS,STN,STN_TYPE,TC,TC_ERR,TIME
-63.961270,30.470851,979342.46,0.0,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-19.41,5.0,1970702,1,501662,21,0.0,0.0,618,NaN
-63.961571,30.454652,979344.38,0.0,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-16.21,5.0,1970702,1,501667,21,0.0,0.0,623,NaN
-63.961770,30.438452,979344.20,0.0,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-15.11,5.0,1970702,1,501672,21,0.0,0.0,628,NaN

In [3]:
df.shape

(716957, 22)

In [4]:
header ='X,Y,ADJG,B_ERR,BOUGUER,COORD_ERR,DAY,DEPTH,DEPTH_ERR,DEPTH_TYPE,ELEV,ELEV_ERR,FA_ERR,FREEAIR,G_ERR,PROJ,STATUS,STN,STN_TYPE,TC,TC_ERR,TIM'.split(',')

In [5]:
df.head(3)

,X,Y,ADJG,B_ERR,BOUGUER,COORD_ERR,DAY,DEPTH,DEPTH_ERR,DEPTH_TYPE,...,FA_ERR,FREEAIR,G_ERR,PROJ,STATUS,STN,STN_TYPE,TC,TC_ERR,TIME
-63.961270,30.470851,979342.46,0.0,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-19.41,5.0,1970702,1,501662,21,0.0,0.0,618,NaN
-63.961571,30.454652,979344.38,0.0,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-16.21,5.0,1970702,1,501667,21,0.0,0.0,623,NaN
-63.961770,30.438452,979344.20,0.0,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-15.11,5.0,1970702,1,501672,21,0.0,0.0,628,NaN

In [11]:
len(header)

22

In [12]:
df

,X,Y,ADJG,B_ERR,BOUGUER,COORD_ERR,DAY,DEPTH,DEPTH_ERR,DEPTH_TYPE,...,FA_ERR,FREEAIR,G_ERR,PROJ,STATUS,STN,STN_TYPE,TC,TC_ERR,TIME
-63.961270,30.470851,979342.46,0.00,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-19.41,5.0,1970702,1,501662,21,0.0,0.0,618,NaN
-63.961571,30.454652,979344.38,0.00,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-16.21,5.0,1970702,1,501667,21,0.0,0.0,623,NaN
-63.961770,30.438452,979344.20,0.00,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-15.11,5.0,1970702,1,501672,21,0.0,0.0,628,NaN
-63.961972,30.422253,979346.25,0.00,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-11.79,5.0,1970702,1,501677,21,0.0,0.0,633,NaN
-63.962170,30.406053,979344.43,0.00,9999.99,1000.0,17-JAN-1970,0.0,0.0,0,0.0,...,-12.33,5.0,1970702,1,501682,21,0.0,0.0,638,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-88.761157,89.248049,983221.40,10.59,177.70,100.0,01-JAN-1901,2525.0,50.5,5,0.3,...,3.75,10.0,1979104,1,4154,24,0.0,0.0,0,NaN
-89.318858,89.246381,983221.10,10.59,177.67,100.0,01-JAN-1901,2528.9,50.6,5,0.3,...,3.46,10.0,1979104,1,4155,24,0.0,0.0,0,NaN
-64.583377,88.932935,983186.20,4.01,168.24,400.0,16-APR-1969,2886.8,57.7,5,0.0,...,-30.63,0.5,1969105,1,4017,24,0.0,0.0,704,NaN
-56.980008,88.001144,983267.80,1.75,138.02,400.0,16-APR-1969,1197.9,24.0,5,0.0,...,55.50,0.5,1969105,1,4018,24,0.0,0.0,830,NaN
-64.680510,87.922889,983237.30,2.00,120.96,400.0,16-APR-1969,1385.6,27.7,5,0.0,...,25.51,0.5,1969105,1,4019,24,0.0,0.0,925,NaN